{% extends "_channel/_entry" %}

{% block content %}

  {% if craft.request.urlReferrer is not empty and craft.request.urlReferrer != entry.url %}
  <a href="{{ craft.request.urlReferrer }}" class="btn btn-goBack"><i class="icon icon-arrowLeft--grey"></i>Go Back</a>
  {% else %}
  <a href="/news" class="btn btn-goBack"><i class="icon icon-arrowLeft--grey"></i>Go Back</a>
  {% endif %}

  {% cache %}

  <article class="a-news">
    <h2><i class="icon icon-world"></i>News</h2>

    {% if entry.type == "video" %}
    <div class="news-video">
      <div class="videoWrapper">
        {% set videoID = entry.videoUrl|replace("https://vimeo.com/",'') %}
        <iframe src="https://player.vimeo.com/video/{{videoID}}?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    {% elseif entry.featureImage|length %}
      <div class="news-image" style="background-image:url({{entry.featureImage.first().url}})"></div>
    {% endif %}

    <h3>{{ entry.title }}</h3>
    <div class="news-description">
      {{ entry.body }}
    </div>
  </article>

  <div class="related-news">
    <h2><i class="icon icon-news--white"></i>Keep Reading</h2>

    {% for article in craft.entries.section("news").id("not " ~ entry.id).order("entries.dateCreated asc").limit(3) %}
      {% include '/news/teaserStandard' with {'entry': article, "sectionTitle": false} %}
    {% endfor %}
  </div>

{% endcache %}

{% endblock %}
