
{% set thumb = {
    mode: 'crop',
    width: 200,
    height: 200,
    quality: 100,
    position: 'center-center'
} %}

<section class="s-featured s-featuredNews s-noGap">
  <div class="s-heading">
    {% if sectionTitle is defined %}<h2><i class="icon icon-news--white"></i>{{ sectionTitle }}</h2>{% endif %}
    {% if sectionDescription is defined %}<p>{{sectionDescription}}</p>{% endif %}
    <a href="/news" class="btn btn-seeAll"><i class="icon icon-arrowRight--black"></i></a>
  </div>
  {% for article in entries %}
    <div class="teaser-featured teaser-featuredNews">
      <div class="row">
        {% if article.featureImage|length %}
        <div class="col-xs-5 teaser-featured--img teaser-featuredNews--img" style="background-image:url({{article.featureImage.first().getUrl(thumb)}})">
        </div>
        {% endif %}
        <div class="col-xs-7 teaser-featured--content teaser-featuredNews--content">
          <h3>{{article.title|lower|ucfirst}}</h3>
          <a class="btn btn-white" href="{{article.url}}">Read More</a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
