<div class="row">
  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'chassisVinNumber', 'Chassis / Vin No.') }}
  </div>

  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'engineNumber', 'Engine Number') }}
  </div>
</div>

<div class="row">
  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'registrationNumber', 'Registration Number') }}
  </div>

  <div class="input-field col s12 m6">
    {{ _formMacros.dateInput(entry, 'registrationExpirationDate', 'Exp Date') }}
  </div>
</div>


<div class="row">
  <div class="input-field col s12 m6">
    {{ _formMacros.dateInput(entry, 'buildDate', 'Build Date') }}
  </div>

  <div class="input-field col s12 m6">
    {{ _formMacros.dateInput(entry, 'complianceDate', 'Compliance Date') }}
  </div>
</div>
