<div class="row">
  <div class="input-field col s12 m5">
    {{ _formMacros.textInput(entry, 'customerName', 'Name') }}
  </div>

  <div class="input-field col s12 m3">
    {{ _formMacros.textInput(entry, 'customerMobileNumber', 'Mobile Number') }}
  </div>

  <div class="input-field col s12 m4">
    {{ _formMacros.textInput(entry, 'customerEmail', 'Email') }}
  </div>

</div>

<div class="row">
  <div class="input-field col s12 m8">
    {{ _formMacros.textInput(entry, 'customerAddress', 'Address') }}
  </div>

  <div class="input-field col s12 m4">
    {{ _formMacros.textInput(entry, 'customerState', 'State') }}
  </div>

</div>

<div class="row">
  <div class="input-field col s12 m8">
    {{ _formMacros.textInput(entry, 'customerSuburb', 'Customer Suburb') }}
  </div>

  <div class="input-field col s12 m4">
    {{ _formMacros.textInput(entry, 'customerPostcode', 'Customer Postcode') }}
  </div>

</div>

<div class="row">
  <div class="input-field col s12 m5">
    {{ _formMacros.textInput(entry, 'customerDriversLicense', 'Drivers License') }}
  </div>

  <div class="input-field col s12 m3">
    {{ _formMacros.dateInput(entry, 'customerDriversLicenseExpirationDate', 'Exp') }}
  </div>

  <div class="input-field col s12 m4">
    {{ _formMacros.dateInput(entry, 'customerDob', 'D.O.B') }}
  </div>

</div>
