{% macro textInput(entry, field, label, required, instance) %}
  {% set label = label ?? field|title %}
  {% set required = required ?? true %}
  {% set instance = instance ?? 1 %}
  <input type="text" id="{{ field}}-{{ instance }}" name="fields[{{ field }}]" value="{{ attribute(entry, field) }}" {% if required %}required{% endif %}>
  <label for="{{ field}}-{{ instance }}">{{ label|nl2br }}</label>
{% endmacro %}


{% macro dateInput(entry, field, label, required, instance) %}
  {% set label = label ?? field|title %}
  {% set required = required ?? true %}
  {% set instance = instance ?? 1 %}
  <input type="text" id="{{ field}}-{{ instance }}" name="fields[{{ field }}][date]" placeholder="dd/mm/yyyy" value="{{ attribute(entry, field)|date('d/m/Y') }}" {% if required %}required{% endif %}>
  <label for="{{ field}}-{{ instance }}">{{ label|nl2br }}</label>
{% endmacro %}

{% macro radioInput(entry, field, label) %}
  {% set label = label ?? field|title %}
  <label>{{ label|nl2br }}</label>
  <div class="right">
    <div class="radio-inline">
      <input type="radio" class="with-gap" id="{{ field }}1" name="fields[{{ field }}]" value="1" {{ attribute(entry, field) ? 'checked' : '' }} required>
      <label for="{{ field }}1">Yes</label>
    </div>
    <div class="radio-inline">
      <input type="radio" class="with-gap" id="{{ field }}0" name="fields[{{ field }}]" value="0" {{ not attribute(entry, field) ? 'checked' : '' }}>
      <label for="{{ field }}0">No</label>
    </div>
  </div>
{% endmacro %}
