<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {# Let's use uncompressed CSS if we're in dev mode, for easier debugging: #}
  {% if craft.config.devMode %}
  <link rel="stylesheet" href="{{ rev(siteUrl ~ 'styles/app.css') }}" />
  {% else %}
  <link rel="stylesheet" href="{{ rev(siteUrl ~ 'styles/app.min.css') }}" />
  {% endif %}

    <script src="//dmc1acwvwny3.cloudfront.net/atatus.js"> </script>
    <script type="text/javascript"> atatus.config('6cd49220d0574f13a47c441b4d5c3836').install(); </script>

</head>
