{#
 # Layout template
 # ---------------
 #}

<!DOCTYPE html>
<html class="no-js {% if pageClass is defined %}{{pageClass}}{% endif %}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {# Let's use uncompressed CSS if we're in dev mode, for easier debugging: #}
  {% if craft.config.devMode %}
  <link rel="stylesheet" href="/styles/main.css" />
  {% else %}
  <link rel="stylesheet" href="/styles/main.min.css?v=1" />
  {% endif %}

</head>

<body>

  <div class="page" id="page">
    <header class="z-depth-2">
      <nav >
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">{% if pageTitle is defined %}{{ pageTitle }}{% else %}{{ siteName }}{% endif %}</a>
          <ul class="left">
            <li><a href="/"><i class="material-icons">refresh</i></a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid">

      {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
      {% endblock %}

    </main>

    <footer></footer>
  </div>

  {% block footerScripts %}
    {# IE8 and below need jQuery 1 - other browsers use jQuery 3: -#}
    {# (of course, if you don't need jQuery, just delete the next two lines...) -#}
    <!--[if lt IE 9]><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script><!-- <![endif]-->

    {% if craft.config.devMode %}
      <script src="/scripts/main.js"></script>
    {% else %}
      <script src="/scripts/main.min.js?v=1"></script>
    {% endif %}
  {% endblock %}

  {# If we're on a .local domain, load Browsersync: #}
  {% if craft.config.localDevelopment %}
    <script id="__bs_script__">document.write("<script async src='{{craft.config.environmentVariables.siteUrl}}:3000/browser-sync/browser-sync-client.js'><\/script>");</script>
    {# Change the next domain to the `External` IP address that is output in terminal when your run `gulp watch` #}
    <script src="http://10.0.64.186:8080/target/target-script-min.js#browsersync"></script>
  {% endif %}
</body>
</html>
