{% for entry in craft.entries.section('inspections').order('dateCreated desc').limit(null) %}
  <entry>
    <title>{{ entry.title }}</title>
    <slug>{{ entry.slug }}</slug>
    <postdate>{{ entry.postDate }}</postdate>
    <author>{{ entry.author.id }}</author>
    {% set inspector = entry.inspector[0] ?? null %}
    <inspector>{% if inspector %}{{ inspector.id }}{% endif %}</inspector>
  {% for fieldLayoutField in entry.getFieldLayout().getFields() %}
    {# get the field Model from the fieldId #}
    {% set field = craft.fields.getFieldById(fieldLayoutField.fieldId) %}
    {# print the field handle and the field content  #}
    <{{ field.handle }}>
      {% if field.handle != 'inspector' %}
          {{ entry.getContent()[field.handle] }}
      {% endif %}
    </{{ field.handle }}>

  {% endfor %}

  </entry>

{% endfor %}
