{#
 # Structure entry template
 # -------------------
 # A default template for structure sections to extend
 #}
{% set pageClass = 'form-page' %}
{% set pageTitle = 'Assessment' %}
{% extends "layouts/loginRequired" %}

{% block content %}

  <form method="post" accept-charset="UTF-8" class="form-assessment form-styles">
    <div class="row">
        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="entries/saveEntry">
        <input type="hidden" name="redirect" value="/offer/{{entry.id}}">
        <input type="hidden" name="sectionId" value="{{ entry.sectionId }}">
        <input type="hidden" name="entryId" value="{{ entry.id }}">
        <input type="hidden" name="enabled" value="1">

        <h3 class="form-heading">Vehicle Assessment Form</h1>

        <div class="row">

        <h2>Customer & Car Details</h2>

        <div class="row">
          <div class="input-field col s12 m5">
            <input type="text" id="customerName" name="fields[customerName]" value="{{ entry.customerName }}" required>
            <label for="customerName">Customer Name</label>
          </div>

          <div class="input-field col s12 m2">
            <input type="text" id="buildDate" name="fields[buildDate][date]" placeholder="dd/mm/yyyy" value="{{entry.buildDate|date('d/m/Y')}}" required>
            <label for="buildDate">Build Date</label>
          </div>

          <div class="input-field col s12 m2 offset-m3">
            <input type="text" name="fields[odometer]" id="odometer" value="{{ entry.odometer }}" required>
            <label for="odometer">Odometer</label>
          </div>
        </div>

        {% include '_form/carDetails' %}

        {% include '_form/specificVehicleInfo' %}

        <div class="row row-submit">
          <div class="input-field col s12 m8">
            <input type="number" id="approximateExpenditure" name="fields[approximateExpenditure]" step="0.01" value="{{entry.approximateExpenditure}}" required>
            <label for="approximateExpenditure">Total Approximate Expenditure</label>
          </div>

          <div class="col s12 m4">
              <button type="submit" class="btn right btn-large waves-effect">Submit</button>
          </div>
        </div>


    </div>
  </form>
{% endblock %}
