{#
 # Structure entry template
 # -------------------
 # A default template for structure sections to extend
 #}
{% set pageClass = 'inspection-form' %}
{% set pageTitle = 'Assessment' %}
{% extends "_layout" %}

{% block content %}

    <div class="row">

      <form method="post" accept-charset="UTF-8" class="form-assessment col s12">
        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="entries/saveEntry">
        <input type="hidden" name="redirect" value="/offer/{{entry.id}}">
        <input type="hidden" name="sectionId" value="{{ entry.sectionId }}">
        <input type="hidden" name="entryId" value="{{ entry.id }}">
        <input type="hidden" name="enabled" value="1">

        <h3 class="form-heading">Vehicle Assessment Form</h1>

        <div class="row">

          <div class="input-field col s12 m5">
            <input type="text" id="customerName" name="fields[customerName]" value="{{ entry.customerName }}" required>
            <label for="customerName">Customer Name</label>
          </div>

          <div class="input-field col s12 m2">
            <input type="text" id="date" name="fields[buildDate][date]" placeholder="dd/mm/yyyy" value="{{entry.buildDate|date('d/m/Y')}}" required>
            <label for="date">Build Date</label>
          </div>

          <div class="input-field col s12 m2 offset-m3">
            <input type="text" name="fields[odometer]" id="odometer" value="{{ entry.odometer }}" required>
            <label for="odometer">Odometer</label>
          </div>

        </div>

        <div class="row">

          <div class="input-field col s12 m1">
            <input type="text" id="year" name="fields[year]" value="{{entry.year}}" required>
            <label for="year">Year</label>
          </div>

          <div class="input-field col s12 m3">
            <input type="text" id="make" name="fields[make]" value="{{entry.make}}" required>
            <label for="make">Make</label>
          </div>

          <div class="input-field col s12 m3">
            <input type="text" id="model" name="fields[model]" value="{{entry.model}}" required>
            <label for="model">Model</label>
          </div>

          <div class="input-field col s12 m3">
            <input type="text" id="body" name="fields[carBody]" value="{{entry.carBody}}" required>
            <label for="carBody">Body</label>
          </div>

          <div class="input-field col s12 m2">
            {# <input type="text" id="colour" name="fields[colour]" value="{{entry.colour}}"> #}
            <select class="" name="fields[colour]" id="colour" required>
              {% for option in craft.fields.getFieldByHandle('colour').settings.options %}
                <option value="{{option.value}}" {% if entry.colour == option.value %}selected{% endif %} >{{option.label}}</option>
              {% endfor %}
            </select>
            <label for="colour">Colour</label>
          </div>

        </div>

        <div class="row">

          <div class="input-field col s12 m4">
            <input type="text" id="engineSize" name="fields[engineSize]" value="{{entry.engineSize}}" required>
            <label for="engineSize">Engine Size</label>
          </div>

          <div class="input-field col s12 m4">
            <select class="" name="fields[transmission]" id="transmission" required>
              {% for option in craft.fields.getFieldByHandle('transmission').settings.options %}
                <option value="{{option.value}}" {% if entry.transmission == option.value %}selected{% endif %} >{{option.label}}</option>
              {% endfor %}
            </select>
            <label for="transmission">Transmission</label>
          </div>

          <div class="input-field col s12 m4">
            <select class="" id="engineType" name="fields[engineType]" required>
              {% for option in craft.fields.getFieldByHandle('engineType').settings.options %}
                <option value="{{option.value}}" {% if option.default %}selected{% endif %} >{{option.label}}</option>
              {% endfor %}
            </select>
            <label for="engineType">Engine Type</label>
          </div>

        </div>

        <div class="row">

          <div class="input-field col s12 m4">
            <select class="" id="driveTrain" name="fields[driveTrains]" required>
              {% for option in craft.fields.getFieldByHandle('driveTrain').settings.options %}
                <option value="{{option.value}}" {% if option.default %}selected{% endif %} >{{option.label}}</option>
              {% endfor %}
            </select>
            <label for="driveTrain">Engine Type</label>
          </div>

          <div class="input-field col s12 m4">
            <input type="number" id="doors" name="fields[doors]" value="{{entry.doors}}" required>
            <label for="doors">Doors</label>
          </div>

          <div class="input-field col s12 m4">
            <input type="number" id="seats" name="fields[seats]" value="{{entry.seats}}" required>
            <label for="seats">Seats</label>
          </div>
        </div>

        <h2 class="form-assessmentTitle">Specific Vehicle Information</h2>

        <div class="row">
          <div class="radio-field col s12 m6">
            <label>Owner's Manual</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="ownersManual1" name="fields[ownersManual]" value="1" {{ entry.ownersManual ? 'checked' : '' }} required>
                <label for="ownersManual1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="ownersManual0" name="fields[ownersManual]" value="0" {{ not entry.ownersManual ? 'checked' : '' }}>
                <label for="ownersManual0">No</label>
              </div>
            </div>
          </div>

          <div class="radio-field col s12 m6">
            <label>Spare Key</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="spareKey1" name="fields[spareKey]" value="1" {{ entry.spareKey ? 'checked' : '' }} required>
                <label for="spareKey1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="spareKey0" name="fields[spareKey]" value="0" {{ not entry.spareKey ? 'checked' : '' }}>
                <label for="spareKey0">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="radio-field col s12 m6">
            <label>Sun Roof</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="sunRoof1" name="fields[sunroof]" value="1" {{ entry.sunroof ? 'checked' : '' }} required>
                <label for="sunRoof1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="sunRoof0" name="fields[sunroof]" value="0" {{ not entry.sunroof ? 'checked' : '' }}>
                <label for="sunRoof0">No</label>
              </div>
            </div>
          </div>

          <div class="radio-field col s12 m6">
            <label>Leather</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="leather1" name="fields[leatherUpholstery]" value="1" {{ entry.leatherUpholstery ? 'checked' : '' }} required>
                <label for="leather1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="leather0" name="fields[leatherUpholstery]" value="0" {{ not entry.leatherUpholstery ? 'checked' : '' }}>
                <label for="leather0">No</label>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="radio-field col s12 m6">
            <label>Sat Nav</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="satNav1" name="fields[satNav]" value="1" {{ entry.satNav ? 'checked' : '' }} required>
                <label for="satNav1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="satNav0" name="fields[satNav]" value="0" {{ not entry.satNav ? 'checked' : '' }}>
                <label for="satNav0">No</label>
              </div>
            </div>
          </div>

          <div class="radio-field col s12 m6">
            <label>Wheels</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="wheels0" name="fields[wheels]" value="alloys" {{ entry.wheels == 'alloys' ? 'checked' : '' }} required>
                <label for="wheels0">Alloy</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="wheels1" name="fields[wheels]" value="hubCaps" {{ entry.wheels == 'hubCaps' ? 'checked' : '' }}>
                <label for="wheels1">Hub</label>
              </div>
            </div>
          </div>

        </div>

        <div class="row form-assessmentFlatLine">

          <div class="radio-field col s12 m6">
            <label>Tradesman Extras</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="tradesmanExtras1" name="fields[tradesmanExtras]" value="1" {{ entry.tradesmanExtras ? 'checked' : '' }} required>
                <label for="tradesmanExtras1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="tradesmanExtras0" name="fields[tradesmanExtras]" value="0" {{ not entry.tradesmanExtras ? 'checked' : '' }}>
                <label for="tradesmanExtras0">No</label>
              </div>
            </div>
          </div>

          <div class="input-field col s12 m6">
            <input type="text" id="tradesmanExtrasDescription" name="fields[tradesmanExtrasDescription]" value="{{entry.tradesmanExtrasDescription}}">
            <label for="tradesmanExtrasDescription">Specify</label>
          </div>

        </div>

        <div class="row form-assessmentFlatLine">

          <div class="radio-field col s12 m6">
            <label>Upgrades/Mods</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="upgradesMods1" name="fields[upgradesMods]" value="1" {{ entry.upgradesMods ? 'checked' : '' }} required>
                <label for="upgradesMods1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="upgradesMods0" name="fields[upgradesMods]" value="0" {{ not entry.upgradesMods ? 'checked' : '' }}>
                <label for="upgradesMods0">No</label>
              </div>
            </div>
          </div>

          <div class="input-field col s12 m6">
            <input type="text" id="sportsKitDescription" name="fields[sportsKitDescription]" value="{{entry.sportsKitDescription}}">
            <label for="sportsKitDescription">Specify</label>
          </div>

        </div>

        <div class="row form-assessmentFlatLine">

          <div class="radio-field col s12 m6">
            <label>Sports Kit</label>
            <div class="right">
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="sportsKit1" name="fields[sportsKit]" value="1" {{ entry.sportsKit ? 'checked' : '' }} required>
                <label for="sportsKit1">Yes</label>
              </div>
              <div class="radio-inline">
                <input type="radio" class="with-gap" id="sportsKit0" name="fields[sportsKit]" value="0" {{ not entry.sportsKit ? 'checked' : '' }}>
                <label for="sportsKit0">No</label>
              </div>
            </div>
          </div>

          <div class="input-field col s12 m6">
            <input type="text" id="upgradesAndModsDescription" name="fields[upgradesAndModsDescription]" value="{{entry.upgradesAndModsDescription}}">
            <label for="upgradesAndModsDescription">Specify</label>
          </div>

        </div>

        <div class="input-field">
          <textarea name="fields[damageAndFaults]" class="materialize-textarea" id="damageAndFaults" data-length="120" required>{{entry.damageAndFaults|striptags}}</textarea>
          <label for="damageAndFaults">Damage &amp; Faults</label>
        </div>

        <div class="row row-submit">
          <div class="input-field col s12 m8">
            <input type="number" id="approximateExpenditure" name="fields[approximateExpenditure]" step="0.01" value="{{entry.approximateExpenditure}}" required>
            <label for="approximateExpenditure">Total Approximate Expenditure</label>
          </div>

          <div class="col s12 m4">
              <button type="submit" class="btn right btn-large waves-effect">Submit</button>
          </div>
        </div>

      </form>

    </div>

{% endblock %}
